<main>
    {{!-- Navbar --}}
    <nav>
        <div class="nav-wrapper">
            <a href="/" class='brand-logo fredericka'>
                Happy Trees
            </a>
            <a href="#" data-target="mobile-sidebar" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/auth/google"><i class="icon fab fa-google"></i></a></li>
                <li><a href="/auth/github"><i class="icon fab fa-github"></i></a></li>
            </ul>
        </div>
    </nav>

    {{!-- Mobile Sidebar --}}
    <ul class="sidenav" id="mobile-sidebar">
        <li><a href="/auth/google">Login with Google <i class="icon fab fa-google"></i></a></li>
        <li><a href="/auth/github">Login with GitHub <i class="icon fab fa-github"></i></a></li>
    </ul>

    {{!-- Content --}}
    <div class='flex-center align-center' style='margin-top: 20px'>
        <img src='./assets/images/logo.png' />
        <p class='lobster big-text center-align'>We don't make mistakes, just happy little accidents</p>
    </div>
</main>

{{!-- Sticky Footer --}}
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col m6 s12 center-align">
                <div class='row'>
                    <h5 class="white-text col s12 fredericka">OSU Bootcamp 2020</h5>
                    <div class='col s12'>
                        <a href="https://github.com/jkole822/Happy-Trees"><i
                                class="icon fab fa-github white-text big-text"></i></a>
                    </div>
                </div>

            </div>
            <div class="col m6 s12 center-align">
                <h5 class="white-text fredericka">Contributors</h5>
                <ul>
                    <li class='center-align'><a class="grey-text text-lighten-3 lobster"
                            href="https://github.com/jkole822" target='_blank'>Kole
                            Gasior</a></li>
                    <li class='center-align'><a class="grey-text text-lighten-3 lobster"
                            href="https://github.com/jesusefraingonzalez" target='_blank'>Efraín González</a></li>
                    <li class='center-align'><a class="grey-text text-lighten-3 lobster"
                            href="https://github.com/Mindyratcliff" target='_blank'>Mindy Ratcliff</a></li>
                    <li class='center-align'><a class="grey-text text-lighten-3 lobster"
                            href="https://github.com/sziccardi1998" target='_blank'>Simon Ziccardi</a></li>
                    <li class='center-align'><a class="grey-text text-lighten-3 lobster"
                            href="https://github.com/abdinajibliban" target='_blank'>Abdinajib Liban</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align">
            © 2021 Happy Trees
        </div>
    </div>
</footer>